@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
}

img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

#container {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 14vh;
}

.card {
  background-color: white;
  padding: 16px 16px 0 16px;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.heading {
  font-weight: 700;
  text-align: center;
  color: black;
  font-size: 22px;
}

p {
  text-align: center;
  font-size: 15px;
  color: #7d889e;
}

#content {
  margin-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 40px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
